<html>
<head>
  <title>Message Board</title>
</head>
<body>
<h1>
    Message Board
</h1>

<a href="/threads/new"> Create a new Post </a>

{% for thread in threads %}

  <div>
      <h3>{{ thread.title }}</h3>
      <i>Posted {{ thread.postedAt.format('F j Y g:i a') }}</i>
      <p>{{ thread.excerpt }}...</p>
      <p>{{ thread.getComments.count() }} Comments</p>
      <a href="/thread/{{ thread.id }}"> See details </a>
    </div>
{% endfor %}

  <div>
    {{ include('includes/pagination.html.twig',{
      currentFilters: threads,
      currentPage: currentPage,
      lastPage: totalPages,
      showAlwaysFirstAndLast: false
    }) }}
  </div>
</body>
</html>
