{% extends "_base.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %}
    <h1>{{ block('title') }}</h1>

    <a href="/threads/new">
    <button type="button" class="btn btn-primary btn-lg">Create a new Post</button></a>

    {% for thread in threads %}

        <div class="divThread">
            <h3>{{ thread.title }}</h3>
            <i>Posted by {{ thread.getUser.username }}, {{ thread.postedAt.format('g:i a, j.m.Y') }}</i>
            <hr class="hrPara">
            <p>{{ thread.excerpt }}...</p>
            <a href="/thread/{{ thread.id }}">
                <button type="button" class="btn btn-primary">{{ thread.getComments.count() }} Comments</button>
            </a>
        </div>
    {% endfor %}

    {{ include('includes/pagination.html.twig',{
        currentFilters: threads,
        currentPage: currentPage,
        lastPage: totalPages,
        showAlwaysFirstAndLast: false
    }) }}

{% endblock %}
