<html>
<head>
  <title>{{ thread.title }} - Message Board</title>
</head>
<body>
<h1>
    {{ thread.title }} - {{ session.userId }}
</h1>
  <i>Posted {{ thread.postedAt.format('F j Y g:i a') }} by {{  thread.getUser.username }}</i>
  <p>{{ thread.content }}</p>
  
  <a href="/">Back to the Board</a>

<form action="/threads/{{thread.id}}/comments/new" method="post">
  Content:<br>
  <input type="text" name="content" value="Content"><br><br>
  <input type="submit" value="Submit">
</form>

<div>
    {% for comment in comments %}

        <div>
            <i>Posted {{ comment.postedAt.format('F j Y g:i a') }} by {{  comment.getUser.username }}</i>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}

    <div>
        {{ include('includes/pagination.html.twig',{
            currentFilters: comments,
            currentPage: currentPage,
            lastPage: totalPages,
            showAlwaysFirstAndLast: false
        }) }}
    </div>
</div>

</body>
</html>
